@use 'var';
.card.ProBlock{border-radius:0!important;z-index:1;scroll-snap-align:start;border:1px solid light-dark(rgb(var(--black-rgb)/.04), rgb(var(--white-rgb)/.04));height:100%;margin:0;padding:0;box-shadow:0 5px 9px rgb(var(--black-rgb)/.1);transition:all .5s;background:light-dark(var(--white), var(--black));color:light-dark(var(--black), var(--white));overflow:hidden;width:100%;
    &.swiper-slide{max-width:100%;
        @media (min-width:350px){max-width:calc(68% - 8px);}
        @media (min-width:450px){max-width:calc(50% - 6px);}
        @media (min-width:575px){max-width:calc(40% - 9px)}
        @media (min-width:768px){max-width:calc(33.333% - 9px)}
        @media (min-width:992px){max-width:calc(29% - 15px)}
        @media (min-width:1200px){max-width:calc(25% - 11px)}
        &:not(.Ser,.SerB,.Venues,.ProBlog){max-width:calc(50% - 6px);
            @media (min-width:450px){max-width:calc(75% - 9px)}
            @media (min-width:575px){max-width:calc(50% - 9px)}
            @media (min-width:768px){max-width:calc(40% - 9px)}
            @media (min-width:992px){max-width:calc(33.333% - 13px)}
        }
    }
    &:has(.card-body .text){
        .card-body{gap:.5rem;
            &:after{position:absolute;height:100%;width:100%;left:0;top:0;content:'';background:linear-gradient(0deg, rgb(var(--black-rgb)/.9) 80%, transparent);transition:all .5s;z-index:-1;}
        }
    }
    .Value{font-size:12px;position:absolute;top:12px;left:12px;display:flex;gap:5px;z-index:2;color:light-dark(var(--black), var(--white));align-items:center;line-height:normal;
        img{height:18px;width:18px}
    }
    .card{
        &-header{object-fit:contain;transition:all .5s;border:none;background:transparent;padding:0;position:relative;
            &:after{content:"";display:block;padding-bottom:100%}
            .proimg{position:absolute;width:100%;height:100%;overflow:hidden;border-radius:0;
                img{transition:all .5s;height:100%;width:100%;object-fit:contain}
            }
        }
        &-body{transition:all .5s;display:flex;gap:8px;flex-direction:column;z-index:2;position:relative;font-size:18px;
            @media (max-width:767px){gap:4px}
            @media (max-width:575px){gap:3px}
            h3{font-size:21px;margin-bottom:5px;font-weight:500;@include var.line-clamp(2);line-height:1.3;transition:all .5s;color:light-dark(var(--thm), var(--thm1));
                @media (max-width:575px){font-size:18px;line-height:1.2}
                @media (max-width:420px){font-size:16px}
            }
            p,.text{@include var.line-clamp(2);font-size:14px;line-height:1.2;font-weight:400;color:light-dark(rgb(var(--black-rgb)/.9), rgb(var(--white-rgb)/.9));
                // @media (max-width:767px){font-size:13px;line-height:1.2}
                @media (max-width:575px){font-size:12px}
            }
            .Price{font-size:18px;color:light-dark(var(--black), var(--white));display:flex;gap:.2rem!important;align-items:center;line-height:normal;font-weight:400;
                &[data-title]{padding:15px 0 0;position:relative;
                    &:after{position:absolute;left:0;top:0;font-size:12px;font-weight:500;content:attr(data-title);color:#777}
                }
                @media (max-width:575px){font-size:16px}
                @media (max-width:420px){font-size:14px}
                del{font-size:14px;opacity:.7}
            }
            .location{
                &:before{height:15px;min-width:15px;
                    @media (max-width:575px){height:14px;min-width:14px}
                    @media (max-width:420px){height:13px;min-width:13px}
                }
                @media (max-width:575px){font-size:14px;gap:4px}
                @media (max-width:420px){font-size:12px;gap:3px}
            }
            &.px-1{
                @media (max-width:420px){padding:12px .25rem!important}
            }
            @media (max-width:575px){padding:12px}
            @media (max-width:420px){padding:9px}
        }
    }
    &.verified{
        h3{
            &:after{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-linecap="round" stroke-linejoin="round" fill="%2300c249"><path d="M10,0l2,2,3-1,1,3,3,1-1,3,2,2-2,2,1,3-3,1-1,3-3-1-2,2-2-2-3,1-1-3-3-1,1-3-2-2,2-2-1-3,3-1,1-3,3,1,2-2Z"/><path d="M6,9l2,3,6-5" fill="none" stroke="white"/></svg>') center/16px no-repeat;height:16px;width:16px;z-index:2;content:'';vertical-align:middle;display:inline-block;margin-left:3px}
        }
    }
    &:not(.ProBlog,.CatBox):hover{border-color:rgb(var(--thm-rgb)/.1);box-shadow:0 5px 9px rgb(var(--thm-rgb)/.2)}
    &:hover{
        .card{
            &-header{
                img{transform:scale(1.05)}
            }
            &-body{
                h3{color:light-dark(var(--thm), var(--thm1))!important}
            }
        }
    }
    &.SoldOut{
        .card-header{position:relative;
            &:after,&:before{content:'';position:absolute;left:0;top:0;height:100%;width:100%}
            &:after{display:grid;place-content:center;backdrop-filter:blur(2px);background:rgb(var(--white-rgb)/.2);z-index:1}
            &:before{left:9px;top:9px;background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 136" fill="%23fff"><rect fill="%23#{var.$svgthm}" width="576" height="136"/><circle cx="23" cy="68" r="7"/><circle cx="552" cy="68" r="7"/><path fill="none" stroke="%23fff" stroke-width="6px" d="M23,55V21H553V55m0,25v35H23V81"/><path d="M50,95,56,82c15,9,30,7,30,1,1-7-23-5-31-15-2-3-7-10-0-20,12-17,42-8,46-4L95,56c-5-3-16-7-24-3-3,1-3,6,0,8,4,2,24,3,29,12C107,84,101,95,90,99A46,46,0,0,1,50,95Z"/><path d="M183,39h17V87H229V100H183Z"/><path d="M238,39h29c46,0,46,61,0,61H238Zm28,47c23,0,24-34,0-34H256V87Z"/><path d="M405,73V39h17v33c0,19,23,19,23,0V39h17V73C462,113,405,113,405,73Z"/><path d="M491,53h-19V39H527V53H508V100H491Z"/><path d="M367,38A32,32,0,1,0,399,70,32,32,0,0,0,367,38Zm0,49c-10,0-16-8-16-17S357,52,367,52s16,8,16,17S377,87,367,87Z"/><path d="M141,38A32,32,0,1,0,173,70,32,32,0,0,0,141,38Zm0,49c-10,0-16-8-16-17s7-17,16-17,16,8,16,17S151,87,141,87Z"/></svg>') center/85px no-repeat;height:22px;width:88px;z-index:2;border-radius:4px}
        }
    }
    &[data-rating], &[data-count]{
        &:after{content:'\2605  'attr(data-rating)' ('attr(data-count)')'!important;position:absolute;left:9px;top:9px;padding:5px 9px;border-radius:10px;background:#DF8200;font-size:13px;color:light-dark(var(--white), var(--black));line-height:1}
    }
    // .date{position:absolute;left:1rem;top:-40px;display:inline-block;border-radius:12px;font-size:13px;background:var(--thm1);padding:4px 9px;font-weight:600}
    &.swiper-slide{height:auto!important}
    &.ProBlog{
        .card{
            &-header{
                img{object-fit:cover}
            }
            &-body{
                span{font-size:14px}
                .text{font-weight:400}
            }
        }
    }
    &.ProCatS{
        &.swiper-slide{max-width:100%;
            @media (min-width:360px){max-width:calc(86% - 12px)}
            @media (min-width:450px){max-width:calc(73% - 12px)}
            @media (min-width:575px){max-width:calc(63% - 9px)}
            @media (min-width:768px){max-width:calc(53% - 13px)}
            @media (min-width:992px){max-width:calc(44% - 16px)}
            @media (min-width:1200px){max-width:calc(36% - 17px)}
        }
        .card{
            &-header{min-width:30%;order:1;
                .proimg{
                    &:after{position:absolute;height:100%;width:100%;left:0;top:0;content:'';background:linear-gradient(0deg, rgb(var(--black-rgb)/.9), transparent);opacity:.5;transition:all .5s}
                }
                &:after{padding-bottom:110%}
                img{object-fit:cover}
            }
            &-body{position:absolute;height:auto;width:100%;left:0;bottom:0;z-index:9;padding:1rem;align-items:flex-start;gap:1rem;
                // transform:translateY(100%);
                h3{text-transform:uppercase;font-size:22px!important;color:light-dark(var(--thm), var(--thm1))!important}
                .btn{margin:0;text-transform:none;
                    &:hover{color:var(--thm1)!important;
                        &:after{background:var(--thm1);margin-left:2px}
                    }
                }
            }
        }
        &:hover{
            .card{
                &-header{
                    .proimg{
                        &:after{opacity:1}
                    }
                    img{transform:scale(1)}
                }
                &-body{transform:translateY(0)}
            }
        }
    }
}