
$BaseURL:'../';
.fi-background{background-size:contain;background-position:50%;background-repeat:no-repeat}
.flagicon{background-size:contain;background:rgb(var(--black-rgb)/.1);background-position:50%;background-repeat:no-repeat;position:relative;display:inline-block;min-width:1.25rem;line-height:1em}
.flagicon:before{content:'\00a0'}
.fi-ad{background-image:url(#{$BaseURL}img/flags/ad.svg)!important}
.fi-ae{background-image:url(#{$BaseURL}img/flags/ae.svg)!important}
.fi-af{background-image:url(#{$BaseURL}img/flags/af.svg)!important}
.fi-ag{background-image:url(#{$BaseURL}img/flags/ag.svg)!important}
.fi-ai{background-image:url(#{$BaseURL}img/flags/ai.svg)!important}
.fi-al{background-image:url(#{$BaseURL}img/flags/al.svg)!important}
.fi-am{background-image:url(#{$BaseURL}img/flags/am.svg)!important}
.fi-ao{background-image:url(#{$BaseURL}img/flags/ao.svg)!important}
.fi-aq{background-image:url(#{$BaseURL}img/flags/aq.svg)!important}
.fi-ar{background-image:url(#{$BaseURL}img/flags/ar.svg)!important}
.fi-as{background-image:url(#{$BaseURL}img/flags/as.svg)!important}
.fi-at{background-image:url(#{$BaseURL}img/flags/at.svg)!important}
.fi-au{background-image:url(#{$BaseURL}img/flags/au.svg)!important}
.fi-aw{background-image:url(#{$BaseURL}img/flags/aw.svg)!important}
.fi-ax{background-image:url(#{$BaseURL}img/flags/ax.svg)!important}
.fi-az{background-image:url(#{$BaseURL}img/flags/az.svg)!important}
.fi-ba{background-image:url(#{$BaseURL}img/flags/ba.svg)!important}
.fi-bb{background-image:url(#{$BaseURL}img/flags/bb.svg)!important}
.fi-bd{background-image:url(#{$BaseURL}img/flags/bd.svg)!important}
.fi-be{background-image:url(#{$BaseURL}img/flags/be.svg)!important}
.fi-bf{background-image:url(#{$BaseURL}img/flags/bf.svg)!important}
.fi-bg{background-image:url(#{$BaseURL}img/flags/bg.svg)!important}
.fi-bh{background-image:url(#{$BaseURL}img/flags/bh.svg)!important}
.fi-bi{background-image:url(#{$BaseURL}img/flags/bi.svg)!important}
.fi-bj{background-image:url(#{$BaseURL}img/flags/bj.svg)!important}
.fi-bl{background-image:url(#{$BaseURL}img/flags/bl.svg)!important}
.fi-bm{background-image:url(#{$BaseURL}img/flags/bm.svg)!important}
.fi-bn{background-image:url(#{$BaseURL}img/flags/bn.svg)!important}
.fi-bo{background-image:url(#{$BaseURL}img/flags/bo.svg)!important}
.fi-bq{background-image:url(#{$BaseURL}img/flags/bq.svg)!important}
.fi-br{background-image:url(#{$BaseURL}img/flags/br.svg)!important}
.fi-bs{background-image:url(#{$BaseURL}img/flags/bs.svg)!important}
.fi-bt{background-image:url(#{$BaseURL}img/flags/bt.svg)!important}
.fi-bv{background-image:url(#{$BaseURL}img/flags/bv.svg)!important}
.fi-bw{background-image:url(#{$BaseURL}img/flags/bw.svg)!important}
.fi-by{background-image:url(#{$BaseURL}img/flags/by.svg)!important}
.fi-bz{background-image:url(#{$BaseURL}img/flags/bz.svg)!important}
.fi-ca{background-image:url(#{$BaseURL}img/flags/ca.svg)!important}
.fi-cc{background-image:url(#{$BaseURL}img/flags/cc.svg)!important}
.fi-cd{background-image:url(#{$BaseURL}img/flags/cd.svg)!important}
.fi-cf{background-image:url(#{$BaseURL}img/flags/cf.svg)!important}
.fi-cg{background-image:url(#{$BaseURL}img/flags/cg.svg)!important}
.fi-ch{background-image:url(#{$BaseURL}img/flags/ch.svg)!important}
.fi-ci{background-image:url(#{$BaseURL}img/flags/ci.svg)!important}
.fi-ck{background-image:url(#{$BaseURL}img/flags/ck.svg)!important}
.fi-cl{background-image:url(#{$BaseURL}img/flags/cl.svg)!important}
.fi-cm{background-image:url(#{$BaseURL}img/flags/cm.svg)!important}
.fi-cn{background-image:url(#{$BaseURL}img/flags/cn.svg)!important}
.fi-co{background-image:url(#{$BaseURL}img/flags/co.svg)!important}
.fi-cr{background-image:url(#{$BaseURL}img/flags/cr.svg)!important}
.fi-cu{background-image:url(#{$BaseURL}img/flags/cu.svg)!important}
.fi-cv{background-image:url(#{$BaseURL}img/flags/cv.svg)!important}
.fi-cw{background-image:url(#{$BaseURL}img/flags/cw.svg)!important}
.fi-cx{background-image:url(#{$BaseURL}img/flags/cx.svg)!important}
.fi-cy{background-image:url(#{$BaseURL}img/flags/cy.svg)!important}
.fi-cz{background-image:url(#{$BaseURL}img/flags/cz.svg)!important}
.fi-de{background-image:url(#{$BaseURL}img/flags/de.svg)!important}
.fi-dj{background-image:url(#{$BaseURL}img/flags/dj.svg)!important}
.fi-dk{background-image:url(#{$BaseURL}img/flags/dk.svg)!important}
.fi-dm{background-image:url(#{$BaseURL}img/flags/dm.svg)!important}
.fi-do{background-image:url(#{$BaseURL}img/flags/do.svg)!important}
.fi-dz{background-image:url(#{$BaseURL}img/flags/dz.svg)!important}
.fi-ec{background-image:url(#{$BaseURL}img/flags/ec.svg)!important}
.fi-ee{background-image:url(#{$BaseURL}img/flags/ee.svg)!important}
.fi-eg{background-image:url(#{$BaseURL}img/flags/eg.svg)!important}
.fi-eh{background-image:url(#{$BaseURL}img/flags/eh.svg)!important}
.fi-er{background-image:url(#{$BaseURL}img/flags/er.svg)!important}
.fi-es{background-image:url(#{$BaseURL}img/flags/es.svg)!important}
.fi-et{background-image:url(#{$BaseURL}img/flags/et.svg)!important}
.fi-fi{background-image:url(#{$BaseURL}img/flags/fi.svg)!important}
.fi-fj{background-image:url(#{$BaseURL}img/flags/fj.svg)!important}
.fi-fk{background-image:url(#{$BaseURL}img/flags/fk.svg)!important}
.fi-fm{background-image:url(#{$BaseURL}img/flags/fm.svg)!important}
.fi-fo{background-image:url(#{$BaseURL}img/flags/fo.svg)!important}
.fi-fr{background-image:url(#{$BaseURL}img/flags/fr.svg)!important}
.fi-ga{background-image:url(#{$BaseURL}img/flags/ga.svg)!important}
.fi-gb{background-image:url(#{$BaseURL}img/flags/gb.svg)!important}
.fi-gd{background-image:url(#{$BaseURL}img/flags/gd.svg)!important}
.fi-ge{background-image:url(#{$BaseURL}img/flags/ge.svg)!important}
.fi-gf{background-image:url(#{$BaseURL}img/flags/gf.svg)!important}
.fi-gg{background-image:url(#{$BaseURL}img/flags/gg.svg)!important}
.fi-gh{background-image:url(#{$BaseURL}img/flags/gh.svg)!important}
.fi-gi{background-image:url(#{$BaseURL}img/flags/gi.svg)!important}
.fi-gl{background-image:url(#{$BaseURL}img/flags/gl.svg)!important}
.fi-gm{background-image:url(#{$BaseURL}img/flags/gm.svg)!important}
.fi-gn{background-image:url(#{$BaseURL}img/flags/gn.svg)!important}
.fi-gp{background-image:url(#{$BaseURL}img/flags/gp.svg)!important}
.fi-gq{background-image:url(#{$BaseURL}img/flags/gq.svg)!important}
.fi-gr{background-image:url(#{$BaseURL}img/flags/gr.svg)!important}
.fi-gs{background-image:url(#{$BaseURL}img/flags/gs.svg)!important}
.fi-gt{background-image:url(#{$BaseURL}img/flags/gt.svg)!important}
.fi-gu{background-image:url(#{$BaseURL}img/flags/gu.svg)!important}
.fi-gw{background-image:url(#{$BaseURL}img/flags/gw.svg)!important}
.fi-gy{background-image:url(#{$BaseURL}img/flags/gy.svg)!important}
.fi-hk{background-image:url(#{$BaseURL}img/flags/hk.svg)!important}
.fi-hm{background-image:url(#{$BaseURL}img/flags/hm.svg)!important}
.fi-hn{background-image:url(#{$BaseURL}img/flags/hn.svg)!important}
.fi-hr{background-image:url(#{$BaseURL}img/flags/hr.svg)!important}
.fi-ht{background-image:url(#{$BaseURL}img/flags/ht.svg)!important}
.fi-hu{background-image:url(#{$BaseURL}img/flags/hu.svg)!important}
.fi-id{background-image:url(#{$BaseURL}img/flags/id.svg)!important}
.fi-ie{background-image:url(#{$BaseURL}img/flags/ie.svg)!important}
.fi-il{background-image:url(#{$BaseURL}img/flags/il.svg)!important}
.fi-im{background-image:url(#{$BaseURL}img/flags/im.svg)!important}
.fi-in{background-image:url(#{$BaseURL}img/flags/in.svg)!important}
.fi-io{background-image:url(#{$BaseURL}img/flags/io.svg)!important}
.fi-iq{background-image:url(#{$BaseURL}img/flags/iq.svg)!important}
.fi-ir{background-image:url(#{$BaseURL}img/flags/ir.svg)!important}
.fi-is{background-image:url(#{$BaseURL}img/flags/is.svg)!important}
.fi-it{background-image:url(#{$BaseURL}img/flags/it.svg)!important}
.fi-je{background-image:url(#{$BaseURL}img/flags/je.svg)!important}
.fi-jm{background-image:url(#{$BaseURL}img/flags/jm.svg)!important}
.fi-jo{background-image:url(#{$BaseURL}img/flags/jo.svg)!important}
.fi-jp{background-image:url(#{$BaseURL}img/flags/jp.svg)!important}
.fi-ke{background-image:url(#{$BaseURL}img/flags/ke.svg)!important}
.fi-kg{background-image:url(#{$BaseURL}img/flags/kg.svg)!important}
.fi-kh{background-image:url(#{$BaseURL}img/flags/kh.svg)!important}
.fi-ki{background-image:url(#{$BaseURL}img/flags/ki.svg)!important}
.fi-km{background-image:url(#{$BaseURL}img/flags/km.svg)!important}
.fi-kn{background-image:url(#{$BaseURL}img/flags/kn.svg)!important}
.fi-kp{background-image:url(#{$BaseURL}img/flags/kp.svg)!important}
.fi-kr{background-image:url(#{$BaseURL}img/flags/kr.svg)!important}
.fi-kw{background-image:url(#{$BaseURL}img/flags/kw.svg)!important}
.fi-ky{background-image:url(#{$BaseURL}img/flags/ky.svg)!important}
.fi-kz{background-image:url(#{$BaseURL}img/flags/kz.svg)!important}
.fi-la{background-image:url(#{$BaseURL}img/flags/la.svg)!important}
.fi-lb{background-image:url(#{$BaseURL}img/flags/lb.svg)!important}
.fi-lc{background-image:url(#{$BaseURL}img/flags/lc.svg)!important}
.fi-li{background-image:url(#{$BaseURL}img/flags/li.svg)!important}
.fi-lk{background-image:url(#{$BaseURL}img/flags/lk.svg)!important}
.fi-lr{background-image:url(#{$BaseURL}img/flags/lr.svg)!important}
.fi-ls{background-image:url(#{$BaseURL}img/flags/ls.svg)!important}
.fi-lt{background-image:url(#{$BaseURL}img/flags/lt.svg)!important}
.fi-lu{background-image:url(#{$BaseURL}img/flags/lu.svg)!important}
.fi-lv{background-image:url(#{$BaseURL}img/flags/lv.svg)!important}
.fi-ly{background-image:url(#{$BaseURL}img/flags/ly.svg)!important}
.fi-ma{background-image:url(#{$BaseURL}img/flags/ma.svg)!important}
.fi-mc{background-image:url(#{$BaseURL}img/flags/mc.svg)!important}
.fi-md{background-image:url(#{$BaseURL}img/flags/md.svg)!important}
.fi-me{background-image:url(#{$BaseURL}img/flags/me.svg)!important}
.fi-mf{background-image:url(#{$BaseURL}img/flags/mf.svg)!important}
.fi-mg{background-image:url(#{$BaseURL}img/flags/mg.svg)!important}
.fi-mh{background-image:url(#{$BaseURL}img/flags/mh.svg)!important}
.fi-mk{background-image:url(#{$BaseURL}img/flags/mk.svg)!important}
.fi-ml{background-image:url(#{$BaseURL}img/flags/ml.svg)!important}
.fi-mm{background-image:url(#{$BaseURL}img/flags/mm.svg)!important}
.fi-mn{background-image:url(#{$BaseURL}img/flags/mn.svg)!important}
.fi-mo{background-image:url(#{$BaseURL}img/flags/mo.svg)!important}
.fi-mp{background-image:url(#{$BaseURL}img/flags/mp.svg)!important}
.fi-mq{background-image:url(#{$BaseURL}img/flags/mq.svg)!important}
.fi-mr{background-image:url(#{$BaseURL}img/flags/mr.svg)!important}
.fi-ms{background-image:url(#{$BaseURL}img/flags/ms.svg)!important}
.fi-mt{background-image:url(#{$BaseURL}img/flags/mt.svg)!important}
.fi-mu{background-image:url(#{$BaseURL}img/flags/mu.svg)!important}
.fi-mv{background-image:url(#{$BaseURL}img/flags/mv.svg)!important}
.fi-mw{background-image:url(#{$BaseURL}img/flags/mw.svg)!important}
.fi-mx{background-image:url(#{$BaseURL}img/flags/mx.svg)!important}
.fi-my{background-image:url(#{$BaseURL}img/flags/my.svg)!important}
.fi-mz{background-image:url(#{$BaseURL}img/flags/mz.svg)!important}
.fi-na{background-image:url(#{$BaseURL}img/flags/na.svg)!important}
.fi-nc{background-image:url(#{$BaseURL}img/flags/nc.svg)!important}
.fi-ne{background-image:url(#{$BaseURL}img/flags/ne.svg)!important}
.fi-nf{background-image:url(#{$BaseURL}img/flags/nf.svg)!important}
.fi-ng{background-image:url(#{$BaseURL}img/flags/ng.svg)!important}
.fi-ni{background-image:url(#{$BaseURL}img/flags/ni.svg)!important}
.fi-nl{background-image:url(#{$BaseURL}img/flags/nl.svg)!important}
.fi-no{background-image:url(#{$BaseURL}img/flags/no.svg)!important}
.fi-np{background-image:url(#{$BaseURL}img/flags/np.svg)!important}
.fi-nr{background-image:url(#{$BaseURL}img/flags/nr.svg)!important}
.fi-nu{background-image:url(#{$BaseURL}img/flags/nu.svg)!important}
.fi-nz{background-image:url(#{$BaseURL}img/flags/nz.svg)!important}
.fi-om{background-image:url(#{$BaseURL}img/flags/om.svg)!important}
.fi-pa{background-image:url(#{$BaseURL}img/flags/pa.svg)!important}
.fi-pe{background-image:url(#{$BaseURL}img/flags/pe.svg)!important}
.fi-pf{background-image:url(#{$BaseURL}img/flags/pf.svg)!important}
.fi-pg{background-image:url(#{$BaseURL}img/flags/pg.svg)!important}
.fi-ph{background-image:url(#{$BaseURL}img/flags/ph.svg)!important}
.fi-pk{background-image:url(#{$BaseURL}img/flags/pk.svg)!important}
.fi-pl{background-image:url(#{$BaseURL}img/flags/pl.svg)!important}
.fi-pm{background-image:url(#{$BaseURL}img/flags/pm.svg)!important}
.fi-pn{background-image:url(#{$BaseURL}img/flags/pn.svg)!important}
.fi-pr{background-image:url(#{$BaseURL}img/flags/pr.svg)!important}
.fi-ps{background-image:url(#{$BaseURL}img/flags/ps.svg)!important}
.fi-pt{background-image:url(#{$BaseURL}img/flags/pt.svg)!important}
.fi-pw{background-image:url(#{$BaseURL}img/flags/pw.svg)!important}
.fi-py{background-image:url(#{$BaseURL}img/flags/py.svg)!important}
.fi-qa{background-image:url(#{$BaseURL}img/flags/qa.svg)!important}
.fi-re{background-image:url(#{$BaseURL}img/flags/re.svg)!important}
.fi-ro{background-image:url(#{$BaseURL}img/flags/ro.svg)!important}
.fi-rs{background-image:url(#{$BaseURL}img/flags/rs.svg)!important}
.fi-ru{background-image:url(#{$BaseURL}img/flags/ru.svg)!important}
.fi-rw{background-image:url(#{$BaseURL}img/flags/rw.svg)!important}
.fi-sa{background-image:url(#{$BaseURL}img/flags/sa.svg)!important}
.fi-sb{background-image:url(#{$BaseURL}img/flags/sb.svg)!important}
.fi-sc{background-image:url(#{$BaseURL}img/flags/sc.svg)!important}
.fi-sd{background-image:url(#{$BaseURL}img/flags/sd.svg)!important}
.fi-se{background-image:url(#{$BaseURL}img/flags/se.svg)!important}
.fi-sg{background-image:url(#{$BaseURL}img/flags/sg.svg)!important}
.fi-sh{background-image:url(#{$BaseURL}img/flags/sh.svg)!important}
.fi-si{background-image:url(#{$BaseURL}img/flags/si.svg)!important}
.fi-sj{background-image:url(#{$BaseURL}img/flags/sj.svg)!important}
.fi-sk{background-image:url(#{$BaseURL}img/flags/sk.svg)!important}
.fi-sl{background-image:url(#{$BaseURL}img/flags/sl.svg)!important}
.fi-sm{background-image:url(#{$BaseURL}img/flags/sm.svg)!important}
.fi-sn{background-image:url(#{$BaseURL}img/flags/sn.svg)!important}
.fi-so{background-image:url(#{$BaseURL}img/flags/so.svg)!important}
.fi-sr{background-image:url(#{$BaseURL}img/flags/sr.svg)!important}
.fi-ss{background-image:url(#{$BaseURL}img/flags/ss.svg)!important}
.fi-st{background-image:url(#{$BaseURL}img/flags/st.svg)!important}
.fi-sv{background-image:url(#{$BaseURL}img/flags/sv.svg)!important}
.fi-sx{background-image:url(#{$BaseURL}img/flags/sx.svg)!important}
.fi-sy{background-image:url(#{$BaseURL}img/flags/sy.svg)!important}
.fi-sz{background-image:url(#{$BaseURL}img/flags/sz.svg)!important}
.fi-tc{background-image:url(#{$BaseURL}img/flags/tc.svg)!important}
.fi-td{background-image:url(#{$BaseURL}img/flags/td.svg)!important}
.fi-tf{background-image:url(#{$BaseURL}img/flags/tf.svg)!important}
.fi-tg{background-image:url(#{$BaseURL}img/flags/tg.svg)!important}
.fi-th{background-image:url(#{$BaseURL}img/flags/th.svg)!important}
.fi-tj{background-image:url(#{$BaseURL}img/flags/tj.svg)!important}
.fi-tk{background-image:url(#{$BaseURL}img/flags/tk.svg)!important}
.fi-tl{background-image:url(#{$BaseURL}img/flags/tl.svg)!important}
.fi-tm{background-image:url(#{$BaseURL}img/flags/tm.svg)!important}
.fi-tn{background-image:url(#{$BaseURL}img/flags/tn.svg)!important}
.fi-to{background-image:url(#{$BaseURL}img/flags/to.svg)!important}
.fi-tr{background-image:url(#{$BaseURL}img/flags/tr.svg)!important}
.fi-tt{background-image:url(#{$BaseURL}img/flags/tt.svg)!important}
.fi-tv{background-image:url(#{$BaseURL}img/flags/tv.svg)!important}
.fi-tw{background-image:url(#{$BaseURL}img/flags/tw.svg)!important}
.fi-tz{background-image:url(#{$BaseURL}img/flags/tz.svg)!important}
.fi-ua{background-image:url(#{$BaseURL}img/flags/ua.svg)!important}
.fi-ug{background-image:url(#{$BaseURL}img/flags/ug.svg)!important}
.fi-um{background-image:url(#{$BaseURL}img/flags/um.svg)!important}
.fi-us{background-image:url(#{$BaseURL}img/flags/us.svg)!important}
.fi-uy{background-image:url(#{$BaseURL}img/flags/uy.svg)!important}
.fi-uz{background-image:url(#{$BaseURL}img/flags/uz.svg)!important}
.fi-va{background-image:url(#{$BaseURL}img/flags/va.svg)!important}
.fi-vc{background-image:url(#{$BaseURL}img/flags/vc.svg)!important}
.fi-ve{background-image:url(#{$BaseURL}img/flags/ve.svg)!important}
.fi-vg{background-image:url(#{$BaseURL}img/flags/vg.svg)!important}
.fi-vi{background-image:url(#{$BaseURL}img/flags/vi.svg)!important}
.fi-vn{background-image:url(#{$BaseURL}img/flags/vn.svg)!important}
.fi-vu{background-image:url(#{$BaseURL}img/flags/vu.svg)!important}
.fi-wf{background-image:url(#{$BaseURL}img/flags/wf.svg)!important}
.fi-ws{background-image:url(#{$BaseURL}img/flags/ws.svg)!important}
.fi-ye{background-image:url(#{$BaseURL}img/flags/ye.svg)!important}
.fi-yt{background-image:url(#{$BaseURL}img/flags/yt.svg)!important}
.fi-za{background-image:url(#{$BaseURL}img/flags/za.svg)!important}
.fi-zm{background-image:url(#{$BaseURL}img/flags/zm.svg)!important}
.fi-zw{background-image:url(#{$BaseURL}img/flags/zw.svg)!important}
.fi-ac{background-image:url(#{$BaseURL}img/flags/ac.svg)!important}
.fi-cp{background-image:url(#{$BaseURL}img/flags/cp.svg)!important}
.fi-dg{background-image:url(#{$BaseURL}img/flags/dg.svg)!important}
.fi-ea{background-image:url(#{$BaseURL}img/flags/ea.svg)!important}
.fi-es-ct{background-image:url(#{$BaseURL}img/flags/es-ct.svg)!important}
.fi-es-ga{background-image:url(#{$BaseURL}img/flags/es-ga.svg)!important}
.fi-eu{background-image:url(#{$BaseURL}img/flags/eu.svg)!important}
.fi-gb-eng{background-image:url(#{$BaseURL}img/flags/gb-eng.svg)!important}
.fi-gb-nir{background-image:url(#{$BaseURL}img/flags/gb-nir.svg)!important}
.fi-gb-sct{background-image:url(#{$BaseURL}img/flags/gb-sct.svg)!important}
.fi-gb-wls{background-image:url(#{$BaseURL}img/flags/gb-wls.svg)!important}
.fi-ic{background-image:url(#{$BaseURL}img/flags/ic.svg)!important}
.fi-ta{background-image:url(#{$BaseURL}img/flags/ta.svg)!important}
.fi-un{background-image:url(#{$BaseURL}img/flags/un.svg)!important}
.fi-xk{background-image:url(#{$BaseURL}img/flags/xk.svg)!important}
.fi-xx{background-image:url(#{$BaseURL}img/flags/xx.svg)!important}