@use 'var';
@use 'root';
@use 'base';
@use 'nav';
@use 'probox';
.right{
    &-btn{writing-mode:vertical-rl;position:fixed;right:0;top:50%;transform:translateY(-50%);display:flex;gap:20px;z-index:9;white-space:nowrap;padding:15px 8px;font-size:16px;background:var(--thm1);color:var(--black);transform:scale(-1);border-radius:0 9px 9px 0;display:inline-flex;align-items:center;box-shadow:4px 0 6px rgb(var(--white-rgb)/.1);font-weight:500;overflow:hidden;
        svg{fill:none;stroke:var(--black);transform:rotate(90deg);height:16px;width:28px}
        &:after{height:60px;width:60px;content:'';border-radius:12px;background:rgb(var(--black-rgb)/.2);position:absolute;left:-3px;top:-9px;transform:rotate(45deg) translateX(-9px) skew(-10deg, -10deg)}
    }
}
.SocialLeft{writing-mode:vertical-rl;position:fixed;right:0;top:50%;transform:translateY(-50%);display:flex;gap:9px;z-index:6;flex-direction:row;border-radius:0 9px 9px 0;width:45px;
    // top:50%;width:60px;border-radius:12px 0 0 12px;background:#eee;position:fixed;right:0;z-index:9;display:flex;flex-wrap:wrap;padding:0;margin:0;
    a{background:#444;width:100%;padding:12px 12px;writing-mode:initial;display:inline-flex;gap:8px;align-items:center;justify-content:flex-start;border-radius:9px 0 0 9px!important;
        i,img,svg{height:22px;width:22px;min-width:22px;position:relative;transition:all .5s}
        svg{fill:none;stroke:var(--white);stroke-width:2px}
        &:before{content:attr(title)!important;font-size:16px;color:var(--white);text-align:center;font-weight:400;opacity:0;transition:all .5s;white-space:nowrap;visibility:hidden;order:1}
        &[title="Facebook"]{background:#3b5998}
        &[title="Twitter"]{background:#00acee}
        &[title="Telegram"]{background:#0088cc}
        &[title="Linkedin"]{background:#0e76a8}
        &[title="Pinterest"]{background:#E60023}
        &[title="Whatsapp"]{background:#96fe00;
            &:before{color:var(--black)!important;font-weight:500}
            // background:#25D366;
        }
        &[title="Reddit"]{background:#ff4500}
        &[title="Youtube"]{background:#f00}
        &[title="Send Inquiry"]{background:#5f82be}
        &[title="Instagram"]{background:linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)}
        &:first-child{border-radius:9px 0 0 0}
        &:last-child{border-radius:0 0 0 9px}
        &:hover{width:220px;transform:translateX(80px);border-radius:9px;box-shadow:0 0 9px rgb(var(--black-rgb)/.5);z-index:3;
            &:before{opacity:1;visibility:visible}
        }
    }
    &.NolR{left:8px;right:auto;width:36px;
        @media (min-width:1400px){left:30px}
        @media (max-width:767px){left:0;display:none}
        a{background:none!important;width:auto!important;transform:translate(0,0)!important;border-radius:5px!important;padding:9px;justify-content:center;filter:contrast(.6);
            &:before{display:none}
            i,img,svg{height:18px;width:18px;min-width:18px;position:relative;transition:all .5s}
        }
    }
}
// .verified:not(.ProBlock){align-items:center;display:flex;gap:.4rem!important;
//     &:after{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" stroke-linecap="round" stroke-linejoin="round" fill="%2300c249"><path d="M10,0l2,2,3-1,1,3,3,1-1,3,2,2-2,2,1,3-3,1-1,3-3-1-2,2-2-2-3,1-1-3-3-1,1-3-2-2,2-2-1-3,3-1,1-3,3,1,2-2Z"/><path d="M6,9l2,3,6-5" fill="none" stroke="white"/></svg>') center/16px no-repeat;height:16px;width:16px;z-index:2;content:'';vertical-align:middle;display:inline-block}
// }
// .disable{cursor:no-drop;display:inline-block;
//     button,*{pointer-events:none;opacity:.6}
// }
.FormS{top:70px;
    .form-control:not(textarea){height:2.4rem}
}
// .location,.time,.money{font-weight:400;color:rgb(var(--black-rgb)/.8);display:flex;align-items:flex-start;gap:5px;line-height:1;
//     &:before{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 25" stroke="%23#{var.$svgblack}" fill="none" stroke-width="1.5px"><path d="M19,9c0,8-9,15-9,15S1,17,1,10a9,9,0,1,1,18-1Z"/><circle cx="10" cy="10" r="5"/></svg>') center/auto 100% no-repeat;content:'';height:18px;min-width:18px;display:inline-block;opacity:.8;position:relative}
//     svg{stroke:var(--black);fill:none}
// }
// .time{
//     &:before{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14" fill="none" stroke="%23#{var.$svgblack}"><circle cx="7" cy="7" r="6"/><polyline points="7 3 7 7 9 9"/></svg>') center/auto 100% no-repeat}
// }
// .money{
//     &:before{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23#{var.$svgblack}" stroke-width="1.5px" viewBox="0 0 20 28"><path d="M10,9c12-0,12,18,0,18C-2,27-2,9,10,9ZM5,4V7M15,4V7M10,1V7m2,9a2,2,0,1,0-4,0c0,3,4,1,4,4a2,2,0,1,1-4,0m2-8v1m0,10v1"/></svg>') center/auto 100% no-repeat;height:21px}
// }

.Contact{
    .map{height:calc(100vh - 120px);position:sticky;top:80px;line-height:0;overflow:hidden;border-radius:12px;
        iframe{height:100%;width:100%}
    }
}
.FAQs{
    &,>section{overflow:inherit!important}
    .position-sticky{top:65px}
    .Rlink{display:flex;flex-direction:column;gap:18px;padding:4px!important;
        li{position:relative;font-size:16px;font-weight:500;
            &:after{height:1px;width:100%;content:'';background:rgb(var(--black-rgb)/.1);left:0;top:-9px;position:absolute}
            &:first-child{
                &:after{display:none}
            }
            a{position:relative;padding:0;display:block;color:rgb(var(--black-rgb)/.5);
                &:hover{color:var(--thm)}
            }
            &.active{
                a{color:var(--thm);
                    &:after{width:3px;height:100%;content:'';background:var(--thm1);left:-12px;top:0;position:absolute;border-radius:2px}
                }
            }
        }
    }
    .CmsPage{
        >.mb-5:last-child{margin-bottom:0!important}
    }
    .accordion{
        &-button{font-size:18px;background:var(--thm)}
    }
}
.FAQsD{
    @supports selector(::details-content){
        .warning{display:none}
    }
    @supports (-webkit-touch-callout: none){
        details>.text{padding:1rem!important}
    }
    details{border:1px solid light-dark(var(--thm1), rgb(var(--white-rgb)/.1));transition:all .5s ease;margin-bottom:.5em;
        &:last-child{margin-bottom:0}
        summary{transition:all .5s ease;padding:.7em 1em;color:light-dark(var(--thm), var(--thm1));cursor:pointer;display:flex;gap:1em;justify-content:space-between;font-size:1.2rem;align-items:center;line-height:1.2;list-style:none;-webkit-appearance:none;
            @media (max-width:991px){font-size:1.1rem}
            &:after{content:'';background:light-dark(var(--thm), var(--thm1));width:15px;height:15px;aspect-ratio:1;transform:rotate(90deg);mask:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 12" fill="none" stroke="%23000" stroke-linecap="round" stroke-linejoin="round"><polyline points="1 1 6 6 1 11"/></svg>') center/9px no-repeat;transition:all .5s ease}
            // &:hover{color:light-dark(var(--thm), var(--thm1))}
            &::-webkit-details-marker{display:none;}
        }
        &[open]{
            // &:not(:first-child){border-top-color:transparent}
            // &:not(:last-child){border-bottom-color:transparent}
            // &:not(:first-child){margin-top:.5rem}
            // &:not(:last-child){margin-bottom:.5rem}
            summary{padding:1em 1em .7em;
                &:after{transform:rotate(-90deg)}
            }
        }
        // &:not([open]):has(+ details:not(details[open])){border-bottom-color:transparent}
        .text{
            *:first-child{margin-top:0}
            *:last-child{margin-bottom:0}
        }
    }
}
.TestiMonial{
    .TestiBox{
        .imgbx{position:relative;display:flex;justify-content:space-between;align-items:flex-end;
            &:before{content:'';position:absolute;height:60px;width:60px;right:0;background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23#{var.$svgthm1}" viewBox="0 0 38 27"><path d="M30,25l7-11V1H22V14h8ZM9,25l7-11V1H1V14H9Z"/></svg>') 0 center/100% no-repeat}
        }
        .img{height:99px;width:99px;border:3px solid var(--thm1);border-radius:50%;overflow:hidden;
            img{height:100%;width:100%;object-fit:cover}
        }
        .nametext{padding:0;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8));text-align:left;
            h4{font-weight:800}
            p{text-align:center;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8))!important}
        }
    }
    .swiper-pagination{transform:translateX(0)!important;
        @media (min-width:992px){right:0;left:auto!important}
        @media (max-width:991px){position:static;margin:9px auto 0}
    }
}
.ConInfos{
    &.Boxs{display:flex;flex-wrap:wrap;gap:20px;
        >*{border:1px solid light-dark(rgb(var(--black-rgb)/.1), rgb(var(--white-rgb)/.1));padding:12px;width:100%;display:flex;gap:15px;flex-direction:column;line-height:1.2;transition:all .5s;font-size:18px;
            @media (min-width:768px){width:calc(50% - 10px);padding:9px;font-size:20px}
            @media (min-width:1200px){width:calc(33.333% - 15px);padding:15px;font-size:24px}
            .icon{
                svg{height:42px;width:42px;stroke:light-dark(var(--black), var(--white));
                    @media (max-width:575px){height:30px;width:30px;}
                }
            }
            &:hover{background:light-dark(rgb(var(--thm-rgb)/.1), rgb(var(--thm-rgb)/.1))}
        }
    }
}
footer{position:relative;padding-top:0px;background:linear-gradient(0deg, transparent, rgb(var(--white-rgb)/.08));
    >.container{margin-bottom:80px!important;padding-top:80px!important}
    >svg,.bgimg,&:after{position:absolute;left:0;bottom:0;opacity:.5;width:100%;height:auto}
    img{
        &.flogo{height:auto;width:200px;max-width:100%}
    }
    >div{z-index:1;position:relative}
    ul.links,.links{margin:0;padding:0;display:flex;flex-direction:column;gap:1.3rem;align-items:self-start;margin-top:2rem;
        @media (max-width:991px){flex-direction:inherit;flex-wrap:wrap;gap:1rem;margin-top:1rem}
        a{padding:0;font-size:15px;display:inline-flex;position:relative;font-weight:350;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8));align-items:baseline;gap:9px;
            @media (min-width:1600px){font-size:16px;line-height:normal}
            &:hover{color:light-dark(var(--black), var(--white))}
            @media (max-width:991px){width:calc(50% - 11px)}
        }
    }
    .input-group{transition:all .5s;
        .form-control:focus{box-shadow:none!important}
    }
    a{font-weight:300;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8));
        &:hover{color:light-dark(var(--black), var(--white))}
    }
    .icons{padding:0;justify-content:start;gap:5px;
        a{height:32px;width:32px;border-radius:50%;display:flex;align-items:center;justify-content:center;opacity:.8;transition:all .5s;background:transparent;border-radius:50%;
            img{height:18px;width:18px;transition:all .5s}
            &:hover{opacity:1;background:light-dark(var(--black), var(--white));
                img{filter:invert(1)}
            }
        }
    }
    p{font-weight:350;font-size:16px;line-height:1.4; @include var.line-clamp(3);
        strong{font-weight:600!important}
    }
    h3{font-size:20px!important;text-transform:uppercase;color:light-dark(var(--black), var(--white));font-weight:400;
        @media (max-width:767px){display:flex;gap:9px;justify-content:space-between;align-items:baseline;
        }
    }
    .ConInfo{display:flex;flex-direction:column;gap:15px;
        li{gap:12px;margin:0;font-weight:400;
            @media (max-width:574px){gap:9px}
            .icon{min-height:22px;min-width:22px;
                img,svg{height:22px;max-width:22px;margin:0;fill:none;stroke:light-dark(var(--black), var(--white));stroke-linecap:round;stroke-linejoin:round}
            }
        }
        span,a{color:rgb(var(--black-rgb)/.9);display:inline-block;font-size:13px;font-weight:300;
            @media (min-width:1600px){font-size:15px}
        }
        a:hover{color:light-dark(var(--black), var(--white))}
        
    }
    .form-control{color:light-dark(var(--black), var(--white))!important;
        &::placeholder{color:rgb(var(--black-rgb)/.5)}
    }
    @media (max-width:575px){
        @media (min-width:420px){
            ul.links{display:flex;flex-wrap:wrap;column-gap:20px;flex-direction:inherit;
                li{width:calc(50% - 10px)}
            }
        }
    }
    .fbottom{padding:12px 0;width:100%;border-top:1px solid light-dark(rgb(var(--black-rgb)/.1), rgb(var(--white-rgb)/.1));font-size:15px;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8));
        p{margin:0;padding:0;color:light-dark(rgb(var(--black-rgb)/.8), rgb(var(--white-rgb)/.8))!important;font-weight:400;
            strong,strong a{font-weight:600!important;color:light-dark(var(--black), var(--white))}
        }
        a{color:light-dark(var(--black), var(--white))}
        .text-end p{text-align:right}
        @media (max-width:574px){
            &,& .text-end p,& .text-start p{text-align:center!important}
        }
    }
}
.photo{position:relative;border-radius:0;border:none;overflow:hidden;
    .card-body{position:absolute;height:100%;width:100%;top:0;left:0;
        img{object-fit:cover;height:100%;width:100%}
    }
    &:before{content:"";display:block;padding-bottom:90%}
    &:after{background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none" stroke="%23fff" stroke-linecap="round"><line x1="9" y1="13" x2="9" y2="5"/><line x1="13" y1="9" x2="5" y2="9"/><circle cx="9" cy="9" r="8"/></svg>') center/3rem auto no-repeat light-dark(rgb(var(--black-rgb)/.5), rgb(var(--white-rgb)/.1));content:'';position:absolute;height:100%;width:100%;left:0;top:0;transform:scale(.5);opacity:0;transition:all .5s}
    &:hover{
        &:after{opacity:1;transform:scale(1)}
    }
    &.video{
        &:after{background:light-dark(rgb(var(--black-rgb)/.5), rgb(var(--white-rgb)/.1))}
        &:before{padding-bottom:70%}
        .card-body{
            &:after{content:'';position:absolute;left:0;top:0;bottom:0;right:0;background:url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99 69" fill="%23cd201f"><path d="M97,13C96,6,92,3,85,2A365,365,0,0,0,15,1c-9,1-13,4-14,13-3,18-0,37,1,43C3,63,7,66,12,67c11,2,59,2,73,0,6-0,10-4,11-10C98,52,101,32,97,13"/><polygon fill="%23fff" points="40 49 40 20 65 35 40 49"/></svg>') center/4rem auto no-repeat;z-index:2}
        }
        ~.title{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:2;text-align:center}
    }
}
.CmsPage{
    >,div{
        *:first-child{margin-top:0!important}
    }
    >div{margin-top:24px!important}
    h1.Heading{margin-top:0!important}
    h2,.h2{font-size:1.7rem;font-weight:400;margin-top:24px!important}
    h3,.h3{font-size:1.5rem;color:light-dark(var(--thm), var(--thm1));margin-top:24px!important;font-weight:400}
    h4,.h4{font-size:1.3rem;font-weight:600;margin-top:24px!important}
    h5,.h5{font-size:1.1rem;color:light-dark(var(--thm), var(--thm1));font-weight:600;margin-top:20px!important}
    h6,.h6{font-size:1rem;font-weight:600;margin-top:20px!important}
    .Leftpanel ul:not(.browser-default)>li{list-style-type:none}
    ul:not(.browser-default)>li{list-style-type:disc}
    h2.m-0,h3.m-0,h4.m-0,h5.m-0,h6.m-0{margin:0!important}
    h2.mt-0,h3.mt-0,h4.mt-0,h5.mt-0,h6.mt-0{margin-top:0!important}
    h2.mb-0,h3.mb-0,h4.mb-0,h5.mb-0,h6.mb-0{margin-bottom:0!important}
    p,ul,ol{
        &,*{font-size:1.05rem!important;font-family:inherit!important;background:transparent!important;
            @media (min-width:1600px){font-size:1.15rem!important}
            @media (max-width:767px){font-size:1rem!important}
            a{
                &,*{text-decoration:underline;color:var(--thm)!important}
            }
        }
    }
    p{
        &:empty,&:has(> br:only-child){display:none}
    }
    ol,ul{
        li::marker{font-weight:600}
    }
    ol{
        ul{margin:9px 0 15px}
        li{margin-bottom:9px}
    }
    ul{padding-left:5px;margin-bottom:0;
        li{margin-bottom:9px;gap:15px;list-style-type:none!important;position:relative;padding-left:30px;
            &:before{content:'';top:7px;position:absolute;left:0;background:url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="9" r="8"/><polyline points="5 9 7 12 13 7"/></svg>') right/100% auto no-repeat;min-width:16px;height:16px}
        }
    }
    *:last-child{margin-bottom:0!important}
    table{--bs-table-color-type:initial;--bs-table-bg-type:initial;--bs-table-color-state:initial;--bs-table-bg-state:initial;--bs-table-color:var(--bs-emphasis-color);--bs-table-bg:var(--bs-body-bg);--bs-table-border-color:var(--bs-border-color);--bs-table-accent-bg:transparent;--bs-table-striped-color:var(--bs-emphasis-color);--bs-table-striped-bg:rgba(var(--bs-emphasis-color-rgb), 0.05);--bs-table-active-color:var(--bs-emphasis-color);--bs-table-active-bg:rgba(var(--bs-emphasis-color-rgb), 0.1);--bs-table-hover-color:var(--bs-emphasis-color);--bs-table-hover-bg:rgba(var(--bs-emphasis-color-rgb), 0.075);width:100%;margin-bottom:1rem;vertical-align:top;border-color:var(--bs-table-border-color);margin-top:30px;
        >:not(caption)>*>*{padding:.5rem .9rem;color:var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));background-color:var(--bs-table-bg);border-bottom-width:var(--bs-border-width);box-shadow:inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)))}
        >tbody{vertical-align:inherit}
        >thead{vertical-align:bottom}
        th{text-align:inherit;text-align:-webkit-match-parent}
        >*{border-width:var(--bs-border-width) 0}
        >*>*{border-width:0 var(--bs-border-width)}
    }
}
.navbar{
    &-collapse{position:fixed;right:0;left:0;margin:0 auto;top:0;width:100%;height:100%;transition-delay:.5s;transition:all .5s;z-index:9;display:flex!important;flex-direction:column;opacity:0;visibility:hidden;
        >div{width:100%;position:sticky;bottom:0;z-index:1;backdrop-filter:blur(200px);
            @media (max-width:767px){justify-content:center!important;
                .free-estimation{display:none}
                >div{font-size:15px;gap:15px!important}
            }
        }
        *{color:light-dark(var(--black), var(--white))!important}
        .MenuInLogo{height:60px;padding:15px 0;text-align:center;top:0;
            img{height:100%;width:auto}
        }
        .NavAni{
            .navbar-toggler{padding:0;border:none;box-shadow:none;position:absolute;right:0;top:50px;
                @media (max-width:767px){top:20px;right:20px}
                svg{fill:none;stroke:light-dark(var(--black), var(--white));stroke-linecap:round;stroke-width:2px;height:26px;width:26px;
                    @media (max-width:767px){height:20px;width:20px;}
                }
            }
            >*{display:flex;min-height:calc(100dvh - 0px);overflow:auto;position:relative}
            // @media (max-width:991px){min-height:calc(100dvh - 126px)}
            // @media (max-width:767px){flex-direction:column;min-height:calc(100dvh - 96px)}
            >div{position:sticky;top:0;
                // @media (max-width:767px){flex-direction:column;
                //     svg{display:none}
                //     .icons{flex-direction:row!important;padding:9px 0;position:sticky;bottom:0}
                // }
            }
            .LogoAni{opacity:0;transition:.2s;transition-delay:0s;max-width:450px;width:100%;stroke:light-dark(var(--black), var(--white))}
        }
        ul{gap:1.1em;justify-content:center;width:100%;position:relative;padding:0;
            @media (max-width:991px){gap:.6em;}
            &:has(.CatMegamenu){width:auto;
                .CatMegamenu{position:static!important;
                    >a{position:relative;display:flex!important;gap:5px;align-items:center;justify-content:space-between;
                        &:after{content:"";border:none;border-bottom:3px solid;border-left:3px solid;height:20px;width:20px;transform:rotate(-135deg);transition:all .5s;display:block;top:-5px;position:relative;
                            @media (max-width:767px){display:none;}
                        }
                    }
                    &:has(.Megamenu:hover){
                        >a{color:var(--thm1)!important;}
                    }
                    &:hover,&:focus,&:focus-within{
                        .Megamenu{visibility:visible;opacity:1;transform:rotateY(0deg);display:flex;align-items:center;
                            // &,&:hover,&:focus{visibility:visible;opacity:1;}
                        }
                    }
                }
                @media (min-width:1600px){width:380px}
                .Megamenu{left:calc(100% + 0px);width:calc((100vw - 0px)/1.6);position:absolute;height:calc(100vh - 0px);top:0;overflow:auto;background:transparent;opacity:0;transition:all .3s cubic-bezier(0,.5,.3,1);transform:rotateY(-90deg);transform-origin:0 0;
                    @media (min-width:1600px){width:calc((100vw - 0px)/2)}
                    @media (max-width:767px){display:none!important }
                }
                ul{column-count:2;padding:20px!important;padding-left:50px!important;column-rule:1px dashed light-dark(rgb(var(--black-rgb)/.1), rgb(var(--white-rgb)/.1));gap:2rem;
                    @media (min-width:1600px){column-count:3}
                    @media (max-width:991px){column-count:1}
                    li{position:relative;margin:0 0 .5rem!important;break-inside:avoid;
                        // @media (min-width:1600px){font-size:15px}
                        // &:after{border-bottom:1px rgb(var(--white-rgb)/.2) dashed;width:100%;bottom:-6px;left:0;content:'';position:absolute}
                        a{font-weight:400;font-size:18px;line-height:1.4;margin-bottom:6px;
                            &.View{font-size:15px;color:light-dark(var(--thm), var(--thm1))!important;margin-top:9px;}
                        }
                        ul,.ul{display:flex;flex-direction:column;row-gap:2px;align-items:flex-start;
                            &,li{width:100%;
                                a{display:inline-block!important;width:auto;text-transform:none;font-weight:300;font-size:16px;margin-bottom:0;}
                                li{
                                    a:not(.thm){font-size:13px!important;display:flex;gap:4px;padding:0!important;
                                        @media (min-width:1600px){font-size:14px!important}
                                        &:before{content:'-';font-weight:300;font-size:18px;
                                            @media (min-width:1600px){font-size:20px}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .row{max-width:660px;margin:0 auto;position:relative;
                    @media (min-width:1400px){max-width:800px;}
                    &:after{position:absolute;content:'';width:1px;height:100%;left:calc(50% - .7rem);top:0;border-left:1px dashed light-dark(rgb(var(--black-rgb)/.1), rgb(var(--white-rgb)/.1));}
                    a{font-weight:400;font-size:18px;line-height:1.4;margin-bottom:6px;
                        &.View{font-size:15px;color:light-dark(var(--thm), var(--thm1))!important;margin-top:9px;}
                    }
                }
            }
            // @media (max-width:767px){height:calc(100% - 30px)}
            li{opacity:0;transition:all .3s;
                // transform:translateX(-50%);
                a{font-weight:600;font-size:2em;display:inline-block!important;padding:5px 0;text-transform:uppercase;line-height:1;transition:all .5s;
                    @media (max-width:991px){font-size:1.5em;
                        &:after{height:16px!important;width:16px!important;}
                    }
                    @media (min-width:1600px){font-size:2.5em}
                    &:hover{color:light-dark(var(--thm), var(--thm1))!important}
                }
            }
        }
        .icons{
            a{line-height:0;
                img{width:24px;height:24px;
                    @media (max-width:1200px){width:20px;height:20px}
                }
                &:hover{transform:rotate(360deg)}
            }
        }
        &.show{
            &,&.collapsing{opacity:1;visibility:visible}
            ul{
                li{transition:all .3s cubic-bezier(.03,.46,.31,.97);opacity:1;
                    // transition-delay:1.3s;transform:translateY(0%);
                    // @for $i from 1 through 50 {
                    //     &:nth-child(#{$i}) {
                    //         transition-delay:#{"."+$i}/2s;
                    //     }
                    // }
                    >a{
                        @media (max-width:767px){font-size:2em}
                        &:after{opacity:1}
                    }
                }
            }
            .LogoAni{animation:fillopacity 9s infinite;opacity:1;fill:light-dark(var(--black), var(--white));
                path{animation:draw 9s infinite;stroke:light-dark(var(--black), var(--white));stroke-dasharray:1400;stroke-dashoffset:1400}
                @keyframes draw{
                    40%,60%{stroke-dashoffset:0}
                }
                @keyframes fillopacity{
                    0%,30%{fill-opacity:0;stroke-width:1.5px}
                    40%,60%{fill-opacity:1;stroke-width:0}
                    70%,100%{fill-opacity:0;stroke-width:1.5px}
                }
            }
        }
    }
}