@charset "UTF-8";
.PageCats .Cat {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 9px;
  z-index: 0;
}
.PageCats .Cat:after {
  height: 99px;
  width: 99px;
  border-radius: 15px;
  background: var(--white);
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  margin: auto;
  -webkit-box-shadow: 5px 5px 6px rgb(var(--black-rgb)/0.1);
          box-shadow: 5px 5px 6px rgb(var(--black-rgb)/0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid rgb(var(--black-rgb)/0.1);
}
.PageCats .Cat img {
  height: 50px;
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 24px auto;
  border-radius: 50%;
}
.PageCats .Cat-thumb-active, .PageCats .Cat:hover {
  color: var(--thm);
}
.PageCats .Cat-thumb-active:after, .PageCats .Cat:hover:after {
  border-color: var(--thm);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.PagePro .SearchS {
  position: sticky;
  top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: light-dark(var(--white), var(--black));
}
.PagePro .SearchS .SearchBox {
  max-width: 300px;
}
.PagePro .SearchS .SearchL {
  width: calc(100% - 200px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.PagePro .SearchBox {
  height: 2.9rem;
}
.PagePro .TopFilter {
  z-index: 5;
  position: sticky;
  top: 0;
  background: light-dark(var(--white), var(--black));
  border-top: 1px solid rgb(var(--white-rgb)/0.08);
  border-bottom: 1px solid rgb(var(--white-rgb)/0.08);
}
.PagePro .TopFilter .offcanvas {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
@media (min-width: 768px) {
  .PagePro .TopFilter .offcanvas {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
    border: none;
    position: relative;
    z-index: 0;
    background: transparent;
    width: 100%;
    overflow: inherit;
  }
}
.PagePro .TopFilter .offcanvas-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (min-width: 992px) {
  .PagePro .TopFilter .offcanvas-body {
    padding: 0;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    overflow: inherit;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .PagePro .TopFilter .offcanvas-body .FilterOp > *[data-bs-toggle=collapse] ~ div {
    position: absolute;
    background: light-dark(var(--white), var(--black));
  }
  .PagePro .TopFilter .offcanvas-body .FilterOp:last-child > *[data-bs-toggle=collapse] ~ div, .PagePro .TopFilter .offcanvas-body .FilterOp:nth-last-child(2) > *[data-bs-toggle=collapse] ~ div {
    right: 0;
  }
}
@media (max-width: 574px) {
  .PagePro .TopFilter .offcanvas {
    width: 100% !important;
  }
}
.PagePro .TopFilter .Refresh {
  border: none;
  background: transparent;
  line-height: 1;
}
.PagePro .TopFilter .Refresh svg {
  fill: none;
  stroke: var(--thm);
  stroke-linejoin: round;
  stroke-linecap: round;
  height: 21px;
  width: 21px;
  stroke-width: 2px;
}
.PagePro .TopFilter .FilterOp {
  position: relative;
}
@media (max-width: 991px) {
  .PagePro .TopFilter .FilterOp:after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(var(--black-rgb)/0.1);
    position: absolute;
    bottom: -0.75rem;
  }
}
.PagePro .TopFilter .FilterOp > a {
  font-size: 15px;
  font-weight: 400;
  color: light-dark(var(--black), var(--white));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding: 1.2rem 0;
  line-height: normal;
  text-transform: uppercase;
}
.PagePro .TopFilter .FilterOp > a:after {
  content: "";
  border: none;
  border-bottom: 1px solid;
  border-left: 1px solid;
  height: 8px;
  width: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  right: 0;
  top: -3px;
  position: relative;
}
.PagePro .TopFilter .FilterOp > a:not(.collapsed):after {
  -webkit-transform: translateY(70%) rotate(135deg);
          transform: translateY(70%) rotate(135deg);
}
.PagePro .TopFilter .FilterOp > div {
  border: none;
  padding: 0;
  -webkit-box-shadow: 0 4px 8px light-dark(rgb(var(--black-rgb)/0.15), rgb(var(--white-rgb)/0.05));
          box-shadow: 0 4px 8px light-dark(rgb(var(--black-rgb)/0.15), rgb(var(--white-rgb)/0.05));
  border-radius: 0;
}
.PagePro .TopFilter .FilterOp > div > .ullist {
  gap: 2px;
  max-height: 355px;
  overflow: auto;
  padding: 12px;
}
.PagePro .TopFilter .FilterOp > div > .ullist .SearchBox {
  background-position: 8px;
  padding: 0 10px 0 32px !important;
  background-color: #f4f4f4;
  min-width: 200px;
  height: 2.4rem;
  font-size: 16px;
  font-weight: 400;
  background-size: 16px;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.PagePro .TopFilter .FilterOp > div > .ullist::-webkit-scrollbar {
  width: 2px;
}
.PagePro .TopFilter .FilterOp > div > .ullist .form-check-input[type=checkbox] {
  font-size: 1.15rem;
  top: 0;
}
.PagePro .TopFilter .FilterOp > div > .ullist:last-child {
  margin-bottom: 0;
}
.PagePro .TopFilter .FilterOp > div > .ullist a, .PagePro .TopFilter .FilterOp > div > .ullist label {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 8px;
  border-radius: 5px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: light-dark(rgb(var(--black-rgb)/0.8), rgb(var(--white-rgb)/0.8));
  white-space: nowrap;
  line-height: 1;
  margin-bottom: 2px;
}
.PagePro .TopFilter .FilterOp > div > .ullist a span:not(.star):first-child, .PagePro .TopFilter .FilterOp > div > .ullist label span:not(.star):first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 45px);
  gap: 5px;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}
.PagePro .TopFilter .FilterOp > div > .ullist a span:not(.star):last-child, .PagePro .TopFilter .FilterOp > div > .ullist label span:not(.star):last-child {
  color: light-dark(rgb(var(--black-rgb)/0.8), rgb(var(--white-rgb)/0.8));
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 14px;
  padding: 5px 4px;
  border-radius: 4px;
  background: light-dark(rgb(var(--thm-rgb)/0.2), rgb(var(--thm1-rgb)/0.2));
  font-weight: 400;
  min-width: 25px;
  text-align: center;
}
.PagePro .TopFilter .FilterOp > div > .ullist a:hover, .PagePro .TopFilter .FilterOp > div > .ullist label:hover {
  background: rgb(var(--thm-rgb)/0.2);
}
.PagePro .TopFilter .FilterOp > div > .ullist a:hover span:not(.star):last-child, .PagePro .TopFilter .FilterOp > div > .ullist label:hover span:not(.star):last-child {
  background: light-dark(rgb(var(--thm-rgb)/0.3), rgb(var(--thm1-rgb)/0.3));
  color: light-dark(rgb(var(--black-rgb)/0.8), rgb(var(--white-rgb)/0.8));
}
.PagePro > .container > .row.list {
  margin: 0 -0.6rem;
}
.PagePro > .container > .row.list > div {
  padding: 0 0.6rem;
}
@media (min-width: 992px) {
  .PagePro > .container > .row.list {
    row-gap: 1.2rem !important;
  }
}
@media (max-width: 991px) {
  .PagePro > .container > .row.list {
    margin: 0 -0.5rem;
  }
  .PagePro > .container > .row.list > div {
    padding: 0 0.5rem;
  }
}
@media (max-width: 767px) {
  .PagePro > .container > .row.list {
    margin: 0 -0.25rem;
  }
  .PagePro > .container > .row.list > div {
    padding: 0 0.25rem;
  }
}
.PagePro .FilterDrop {
  position: relative;
}
.PagePro .FilterDrop:last-child {
  margin-right: 0;
}
.PagePro .FilterDrop:last-child:after {
  display: none;
}
.PagePro .FilterDrop > a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 150px;
}
.PagePro .FilterDrop > a span:after {
  display: none;
}
.PagePro .FilterDrop > a.show {
  -webkit-box-shadow: 0 0 0 0.25em rgb(var(--thm-rgb)/0.25) !important;
          box-shadow: 0 0 0 0.25em rgb(var(--thm-rgb)/0.25) !important;
  border: 1px solid var(--thm) !important;
}
.PagePro .FilterDrop .dropdown-menu, .PagePro .FilterDrop .offcanvas {
  -webkit-box-shadow: 0 4px 8px light-dark(rgb(var(--black-rgb)/0.15), rgb(var(--white-rgb)/0.05));
          box-shadow: 0 4px 8px light-dark(rgb(var(--black-rgb)/0.15), rgb(var(--white-rgb)/0.05));
  border: none;
  border-radius: 0.375rem;
  margin-top: 6px !important;
  max-height: inherit;
  max-width: inherit;
  height: auto;
  width: auto;
  background: light-dark(var(--white), var(--black));
}
.PagePro .FilterDrop .dropdown-menu.Filter ul, .PagePro .FilterDrop .offcanvas.Filter ul {
  padding: 0;
  margin: 15px 0 0;
}
@media (min-width: 767px) {
  .PagePro .FilterDrop .dropdown-menu.Filter ul, .PagePro .FilterDrop .offcanvas.Filter ul {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
.PagePro .FilterDrop .dropdown-menu .form-check-label, .PagePro .FilterDrop .offcanvas .form-check-label {
  width: 100% !important;
  font-size: 15px;
  color: var(--black);
}
.PagePro .FilterDrop .dropdown-menu .form-check-input:checked[type=radio] ~ label, .PagePro .FilterDrop .offcanvas .form-check-input:checked[type=radio] ~ label {
  color: var(--thm);
}
.PagePro .FilterDrop .dropdown-menu li, .PagePro .FilterDrop .offcanvas li {
  cursor: pointer;
  white-space: nowrap;
  padding: 3px 12px;
  border-radius: 5px;
  font-size: 15px;
}
.PagePro .FilterDrop .dropdown-menu li:hover, .PagePro .FilterDrop .offcanvas li:hover {
  background: rgb(var(--thm-rgb)/0.2);
}
@media (max-width: 767px) {
  .PagePro .FilterDrop .dropdown-menu li, .PagePro .FilterDrop .offcanvas li {
    margin-bottom: 9px;
  }
}
@media (min-width: 768px) {
  .PagePro .FilterDrop .dropdown-menu, .PagePro .FilterDrop .offcanvas {
    -webkit-transition: none;
    transition: none;
  }
  .PagePro .FilterDrop .dropdown-menu:not(.show), .PagePro .FilterDrop .offcanvas:not(.show) {
    -webkit-transform: none;
            transform: none;
    position: absolute !important;
    display: none;
    bottom: auto;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .PagePro .FilterDrop .dropdown-menu + .offcanvas-backdrop, .PagePro .FilterDrop .offcanvas + .offcanvas-backdrop {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .PagePro .FilterDrop .dropdown-menu, .PagePro .FilterDrop .offcanvas {
    padding: 30px !important;
  }
}
.PagePro .FilterDrop .dropdown-toggle {
  padding: 12px;
  position: relative;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  min-width: 50px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 500;
}
.PagePro .FilterDrop .dropdown-toggle:after {
  height: 8px;
  width: 8px;
  margin-top: -4px;
}
.PagePro .FilterDrop .dropdown-toggle img {
  max-height: 18px;
  width: 20px;
}
.PagePro .FilterDrop .dropdown-toggle.selected {
  background: rgb(var(--thm-rgb)/0.1);
  border: 1px solid rgb(var(--thm-rgb)/0.25);
}
.PagePro .FilterDrop .dropdown-toggle i {
  font-style: normal !important;
}
@media (max-width: 574px) {
  .PagePro .FilterDrop .dropdown-toggle {
    padding: 6px !important;
    min-width: 30px;
  }
}
.PagePro .FilterDrop .dropdown-toggle span:before {
  content: "⬤";
  padding: 0 6px;
  font-size: 5px;
}
.PagePro .FilterDrop .dropdown-toggle span:empty:before {
  display: none;
}
.PagePro .FilterDrop.FilterSort .dropdown-toggle {
  border: 1px solid light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
  border-radius: 0;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px;
  font-size: 16px;
}
.PagePro .dropdown-toggle {
  padding: 9px 12px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}
.PagePro .dropdown-toggle svg {
  fill: none;
  stroke: var(--black);
  stroke-linejoin: round;
  stroke-linecap: round;
  height: 16px;
  width: 16px;
}
@media (max-width: 575px) {
  .PagePro .dropdown-toggle {
    background: none !important;
    border: none !important;
  }
  .PagePro .dropdown-toggle:after {
    display: none;
  }
}
.PageProD .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  background: light-dark(var(--white), var(--black));
}
@media (min-width: 992px) {
  .PageProD .slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 9px;
  }
  .PageProD .slide .SlideThum {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.PageProD .SlideBox {
  position: sticky;
  top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3px;
}
.PageProD .Slide {
  width: 100%;
  background: light-dark(var(--white), var(--black));
  border: 1px solid light-dark(rgb(var(--black-rgb)/0.1), rgb(var(--white-rgb)/0.1));
}
.PageProD .Slide:after {
  content: "";
  display: block;
  padding-bottom: 90%;
}
.PageProD .Slide > div:not(.SharePost) {
  position: absolute;
  width: 100%;
  height: 100%;
}
.PageProD .Slide .swiper-slide {
  cursor: pointer;
}
.PageProD .Slide .swiper-slide img {
  max-height: revert-layer;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.PageProD .Slide .swiper-button-next, .PageProD .Slide .swiper-button-prev {
  color: light-dark(var(--black), var(--white));
}
.PageProD .Slide .swiper-button-next:after, .PageProD .Slide .swiper-button-prev:after {
  font-size: 2em;
}
.PageProD .Slide .swiper-button-next, .PageProD .Slide .swiper-button-prev {
  height: 45px !important;
  width: 45px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  font-weight: 600;
  margin: 0 !important;
  background: light-dark(var(--thm1), var(--thm));
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute !important;
  border: 1px solid rgb(var(--thm-rgb)/0.4);
}
.PageProD .Slide .swiper-button-next:after, .PageProD .Slide .swiper-button-prev:after {
  font-size: 20px !important;
  color: light-dark(var(--white), var(--black));
  line-height: 1px !important;
  font-weight: 400;
  display: none;
}
.PageProD .Slide .swiper-button-next:before, .PageProD .Slide .swiper-button-prev:before {
  height: 20px;
  width: 24px;
  content: "";
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 7 12"><polyline points="1 1 6 6 1 11"/></svg>') center/12px no-repeat;
  position: relative;
}
.PageProD .Slide .swiper-button-next:hover, .PageProD .Slide .swiper-button-prev:hover {
  -webkit-transform: translateY(-50%) translateX(0);
          transform: translateY(-50%) translateX(0);
}
.PageProD .Slide .swiper-button-next {
  right: -45px;
  border-radius: 9px 0 0 9px;
  -webkit-transform: translateY(-50%) translateX(5px);
          transform: translateY(-50%) translateX(5px);
}
.PageProD .Slide .swiper-button-prev {
  left: -45px;
  border-radius: 0 9px 9px 0;
  -webkit-transform: translateY(-50%) translateX(-5px);
          transform: translateY(-50%) translateX(-5px);
}
.PageProD .Slide .swiper-button-prev:before {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.PageProD .Slide .swiper-button-disabled {
  pointer-events: auto !important;
}
.PageProD .Slide .swiper:hover .swiper-button-next {
  right: 0 !important;
}
.PageProD .Slide .swiper:hover .swiper-button-prev {
  left: 0 !important;
}
.PageProD .SlideThum .swiper-slide {
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  height: 72px !important;
  width: 72px !important;
  cursor: pointer;
  border: 1px solid light-dark(rgb(var(--black-rgb)/0.1), rgb(var(--white-rgb)/0.1));
  border-radius: 0;
  overflow: hidden;
}
@media (min-width: 1400px) {
  .PageProD .SlideThum .swiper-slide {
    height: 78px !important;
    width: 78px !important;
  }
}
@media (min-width: 992px) {
  .PageProD .SlideThum .swiper-slide {
    margin-bottom: 1px;
  }
}
.PageProD .SlideThum .swiper-slide-thumb-active {
  opacity: 1;
  border-color: var(--thm);
}
.PageProD .SlideThum .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 991px) {
  .PageProD .SlideThum .swiper-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.PageProD .PriceBox .Price sub {
  font-size: 13px;
  bottom: 0;
  font-weight: 500;
  opacity: 0.8;
}
@media (min-width: 1600px) {
  .PageProD .PriceBox .Price sub {
    font-size: 15px;
  }
}
.PageProD .PriceBox .Price sub:before {
  content: "/";
}
.PageProD .qut {
  max-width: 180px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.PageProD .qut > span {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 600;
}
@media (min-width: 1600px) {
  .PageProD .qut > span {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .PageProD .qut {
    max-width: 240px;
  }
}
.PageProD .qut-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1200px) {
  .PageProD .qut-box {
    max-width: 120px;
  }
}
.PageProD .qut-box button {
  min-width: 30px;
  height: 30px;
  border: none;
  background: light-dark(rgb(var(--thm1-rgb)/0.1), rgb(var(--white-rgb)/0.1));
  color: light-dark(var(--black), var(--white));
  border: 1px solid light-dark(rgb(var(--thm1-rgb)/0.1), rgb(var(--white-rgb)/0.1));
  font-size: 14px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 1600px) {
  .PageProD .qut-box button {
    font-size: 16px;
  }
}
.PageProD .qut-box button:hover {
  background: light-dark(var(--thm1), var(--thm));
  color: light-dark(var(--black), var(--white));
  border: transparent;
}
@media (min-width: 1200px) {
  .PageProD .qut-box button {
    min-width: 38px;
    height: 38px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (min-width: 1200px) and (min-width: 1600px) {
  .PageProD .qut-box button {
    font-size: 18px;
  }
}
.PageProD .qut-box input {
  border: none;
  width: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
}
@media (min-width: 1200px) {
  .PageProD .qut-box input {
    width: 48px;
    font-size: 18px;
  }
}
.PageProD .Colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}
.PageProD .Colors .cbtn {
  line-height: 0;
}
.PageProD .Colors .cbtn-label {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
  position: relative;
}
.PageProD .Colors .cbtn-label:after {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 1px solid transparent;
  border-radius: 50%;
}
.PageProD .Colors .cbtn-check:checked + label {
  -webkit-box-shadow: 0 0 9px light-dark(rgb(var(--thm-rgb)/0.3), rgb(var(--thm1-rgb)/0.3));
          box-shadow: 0 0 9px light-dark(rgb(var(--thm-rgb)/0.3), rgb(var(--thm1-rgb)/0.3));
}
.PageProD .Colors .cbtn-check:checked + label:after {
  border: 1px solid light-dark(var(--thm), var(--thm1));
}
.PageProD .Sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.PageProD .Sizes .sizebtn-label {
  border-radius: 0;
  border: 1px solid light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (min-width: 1600px) {
  .PageProD .Sizes .sizebtn-label {
    font-size: 15px;
  }
}
.PageProD .Sizes .sizebtn-label.Vari {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  line-height: 1;
  padding: 12px 18px;
}
.PageProD .Sizes .sizebtn-label.Vari svg {
  height: 34px;
  width: 34px;
  fill: none;
  stroke: var(--thm);
  stroke-width: 0.6px;
  opacity: 0.6;
}
.PageProD .Sizes .sizebtn-label.Vari > span {
  font-size: 17px;
  text-transform: none;
}
@media (min-width: 1600px) {
  .PageProD .Sizes .sizebtn-label.Vari > span {
    font-size: 19px;
  }
}
.PageProD .Sizes .sizebtn-label.Vari > span small {
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-top: 3px;
  opacity: 0.8;
}
@media (min-width: 1600px) {
  .PageProD .Sizes .sizebtn-label.Vari > span small {
    font-size: 13px;
  }
}
.PageProD .Sizes .sizebtn-check:checked + label {
  -webkit-box-shadow: 0 0 9px light-dark(rgb(var(--thm-rgb)/0.3), rgb(var(--thm1-rgb)/0.3));
          box-shadow: 0 0 9px light-dark(rgb(var(--thm-rgb)/0.3), rgb(var(--thm1-rgb)/0.3));
  border-color: light-dark(var(--thm), var(--thm1));
}
.PageProD .Des .text, .PageProD .Des .text p, .PageProD .Des .text p {
  font-size: 13px;
}
.PageProD .Des .text, .PageProD .Des .text *, .PageProD .Des .text p, .PageProD .Des .text p *, .PageProD .Des .text p, .PageProD .Des .text p * {
  word-break: break-word;
}
@media (min-width: 1600px) {
  .PageProD .Des .text, .PageProD .Des .text p, .PageProD .Des .text p {
    font-size: 15px;
  }
}
.PageProD .Des .text table:first-child {
  margin: 0;
}
.PageProD .Des .text table * {
  border-color: rgb(var(--white-rgb)/0.1);
}
.PageProD .Des .text table tr td, .PageProD .Des .text table tr th {
  color: light-dark(var(--thm), var(--thm1));
  text-align: center;
  background: transparent;
}
.PageProD .Des .text table tr td:first-child, .PageProD .Des .text table tr th:first-child {
  color: light-dark(rgb(var(--black-rgb)/0.8), rgb(var(--white-rgb)/0.8));
  font-weight: 600;
  text-align: left;
  width: 40%;
}
.PageProD .Des .text table tr td:last-child, .PageProD .Des .text table tr th:last-child {
  text-align: right;
  width: 60%;
}
.PageProD .btnn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  backdrop-filter: blur(2px);
  background: light-dark(rgb(var(--white-rgb)/0.8), rgb(var(--black-rgb)/0.8));
}
@media (max-width: 1200px) {
  .PageProD .btnn .btn, .PageProD .btnn > span {
    font-size: 16px;
  }
}
.PageProD .btnn .btn svg, .PageProD .btnn > span svg {
  stroke-width: 1.2px;
  -webkit-transform: none !important;
          transform: none !important;
  height: 17px !important;
  min-width: 20px !important;
  margin-top: -4px;
}
@media (min-width: 1200px) {
  .PageProD .btnn .btn svg, .PageProD .btnn > span svg {
    height: 20px !important;
    width: 24px !important;
  }
}
.PageProD .btnn .btn.AddCart:after, .PageProD .btnn > span.AddCart:after {
  display: none;
}
.PageProD .btnn .btn.AddCart:hover, .PageProD .btnn > span.AddCart:hover {
  background: var(--thm);
  color: var(--white) !important;
}
.PageProD .btnn .btn.Buy:after, .PageProD .btnn > span.Buy:after {
  display: none;
}
.PageProD .btnn .btn.Buy:hover, .PageProD .btnn > span.Buy:hover {
  background: var(--thm1);
  color: var(--black) !important;
}
.PageProD .btnn .Wishlist {
  padding: 0 !important;
  min-width: 50px;
  max-width: 50px;
}
.PageProD .btnn .Wishlist svg {
  fill: var(--white);
  stroke: transparent;
  stroke-linecap: round;
  height: 24px !important;
  width: 24px !important;
}
.PageProD .btnn .Wishlist.Add, .PageProD .btnn .Wishlist:hover {
  background: transparent;
}
.PageProD .btnn .Wishlist.Add svg, .PageProD .btnn .Wishlist:hover svg {
  stroke: transparent;
  fill: var(--thm);
}
.PageProD .btnn .Wishlist:hover svg {
  -webkit-transform: none;
          transform: none;
}
.PageProD .Usp > div {
  width: auto;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  line-height: 1.3;
  position: relative;
}
@media (min-width: 1600px) {
  .PageProD .Usp > div {
    font-size: 15px;
  }
}
.PageProD .Usp > div span strong {
  display: block;
}
.PageProD .Usp > div img {
  height: 32px;
  width: 32px;
}
.PageProD .Usp > div:last-child:after {
  display: none;
}
.PageProD .BtnOth {
  gap: 5px;
}
.PageProD .BtnOth:not(.SharePostI) {
  min-width: calc(50% - 90px);
}
.PageProD .BtnOth img { /*position:absolute;left:15px;top:0;*/
  height: 25px !important;
  width: 25px !important;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-filter: grayscale(1) brightness(50);
          filter: grayscale(1) brightness(50);
}
@media (max-width: 575px) {
  .PageProD .BtnOth img {
    width: 20px !important;
    left: 9px;
  }
}
.PageProD .BtnOth:hover img {
  -webkit-filter: none;
          filter: none;
}
.PageProD .BtnOth:hover:after {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, var(--black)), color-stop(50%, transparent)), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 48"><path d="M51,19A12,12,0,0,1,51,31L41,48H0V0H41Z"/></svg>') center right no-repeat;
  background: linear-gradient(90deg, var(--black) 50%, transparent 50%), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 48"><path d="M51,19A12,12,0,0,1,51,31L41,48H0V0H41Z"/></svg>') center right no-repeat;
}
.PageProD .BtnOth.Whatsapp:not(:hover) {
  border-color: #25D366 !important;
  background: #25D366 !important;
}
.PageProD .BtnOth.Viber:not(:hover) {
  border-color: #7360f2 !important;
  background: #7360f2 !important;
}
.PageProD .BtnOth.BuyNow:not(:hover) {
  border-color: #00752b !important;
  background: #00752b !important;
}
.PageProD .BtnOth.SharePostI {
  position: absolute;
  border: none !important;
  background: rgb(var(--black-rgb)/0.8);
  color: var(--white) !important;
  gap: 5px !important;
  font-size: 16px;
  padding: 8px !important;
  min-width: 38px;
  top: 10px;
  line-height: 1;
  right: 10px;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.PageProD .BtnOth.SharePostI:before {
  display: none;
}
.PageProD .BtnOth.SharePostI > img, .PageProD .BtnOth.SharePostI svg {
  width: 22px !important;
  height: 22px;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
  fill: none;
  stroke: var(--white);
}
@media (max-width: 575px) {
  .PageProD .BtnOth.SharePostI > img, .PageProD .BtnOth.SharePostI svg {
    width: 18px !important;
  }
}
.PageProD .BtnOth.SharePostI:after {
  position: absolute;
  bottom: -3px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid light-dark(var(--white), var(--thm));
  height: 0 !important;
  width: 0 !important;
  right: 0;
  left: 0;
  margin: 0 auto;
  content: "";
  opacity: 0;
  visibility: hidden;
  z-index: 1111;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-radius: 0;
  opacity: 1;
  background: none !important;
}
.PageProD .BtnOth.SharePostI.show:after {
  opacity: 1;
  visibility: visible;
}
.PageProD .BtnOth.SharePostI ~ .SharePost {
  min-width: 50px;
  background: light-dark(var(--white), var(--thm));
  -webkit-box-shadow: 0 2px 15px rgb(var(--black-rgb)/0.1) !important;
          box-shadow: 0 2px 15px rgb(var(--black-rgb)/0.1) !important;
  border: none !important;
  padding: 9px 0 !important;
  max-height: 400px;
  overflow: auto;
}
.PageProD .BtnOth.SharePostI ~ .SharePost #social-links [class*=fa-] {
  color: light-dark(var(--black), var(--white)) !important;
}
.PageProD .galleryPnV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.PageProD .galleryPnV .nav-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  position: relative;
  padding: 0;
  top: 0;
  z-index: 6;
  position: sticky;
  background: light-dark(var(--white), var(--black));
  margin: 0;
}
.PageProD .galleryPnV .nav-pills .nav-link {
  color: light-dark(var(--black), var(--white));
  opacity: 0.8;
  font-weight: 300;
  position: relative;
  padding: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}
.PageProD .galleryPnV .nav-pills .nav-link.active {
  opacity: 1;
  color: light-dark(var(--thm), var(--thm1));
  background: transparent;
}
.PageProD .galleryPnV .nav-pills .nav-link.active:after {
  width: 100%;
}
.PageProD .galleryPnV .nav-pills .nav-link:last-child:after {
  display: none;
}
.PageProD .galleryPnV .nav-pills li {
  position: relative;
  padding: 0 9px;
}
.PageProD .galleryPnV .nav-pills li:after {
  height: 2px;
  width: 0;
  right: 0;
  left: auto;
  bottom: 0;
  background: light-dark(var(--thm), var(--thm1));
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.PageProD .galleryPnV .nav-pills li:has(> *.active):after {
  width: 100%;
}
.PageProD .galleryPnV .nav-pills li:has(> *.active):nth-of-type(1n):after {
  right: auto;
  left: 0;
}
.PageProD .galleryPnV .nav-pills:after {
  height: 2px;
  width: 100%;
  right: 0;
  bottom: 0;
  margin: auto;
  background: light-dark(rgb(var(--black-rgb)/0.1), rgb(var(--white-rgb)/0.1));
  content: "";
  position: absolute;
  pointer-events: none;
}
.PageProD .galleryPnV [class*=List] {
  margin: 0 -0.5rem;
}
.PageProD .galleryPnV [class*=List] > * {
  padding: 0 0.5rem;
}
.PageProD .galleryPnV.min .row {
  margin: 0 -2px;
}
.PageProD .galleryPnV.min .row > div {
  padding: 0 2px;
}
.PageProD .galleryPnV.min .row > div .photo {
  border-radius: 5px;
}
.PageProD .galleryPnV.min .row > div .photo:after {
  background-size: 1.5rem;
}
@media (min-width: 992px) {
  .PageProD .galleryPnV.min .row > div {
    width: 10%;
  }
}
.PageProD .galleryPnV .flip-book .page {
  background: light-dark(var(--white), #0d0d0d);
}
.PageProD .galleryPnV .flip-book .page-content {
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.PageProD .galleryPnV .flip-book .page-content > *:not(.page-image) {
  padding: 0 1.5rem;
  margin: 0;
}
@media (max-width: 991px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image) {
    padding: 0 1rem;
  }
}
@media (min-width: 1600px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image) {
    padding: 0 2rem;
  }
}
.PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):first-child {
  padding-top: 1.5rem;
}
@media (max-width: 991px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):first-child {
    padding-top: 1rem;
  }
}
@media (min-width: 1600px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):first-child {
    padding-top: 2rem;
  }
}
.PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):last-child {
  padding-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):last-child {
    padding-bottom: 1rem;
  }
}
@media (min-width: 1600px) {
  .PageProD .galleryPnV .flip-book .page-content > *:not(.page-image):last-child {
    padding-bottom: 2rem;
  }
}
.PageProD .galleryPnV .flip-book .page-header {
  font-size: 24px;
}
.PageProD .galleryPnV .flip-book .page-text {
  overflow: auto;
  height: 100%;
}
.PageProD .galleryPnV .flip-book .page-text, .PageProD .galleryPnV .flip-book .page-text * {
  line-height: 1.3 !important;
}
.PageProD .galleryPnV .flip-book .page-text video {
  height: 60%;
  background: var(--black);
}
.PageProD .galleryPnV .flip-book .page.--right {
  -webkit-box-shadow: inset 7px 0 50px -7px light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
          box-shadow: inset 7px 0 50px -7px light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
}
.PageProD .galleryPnV .flip-book .page.--right .page-footer {
  text-align: right;
}
.PageProD .galleryPnV .flip-book .page.--left {
  -webkit-box-shadow: inset -7px 0 50px -7px light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
          box-shadow: inset -7px 0 50px -7px light-dark(rgb(var(--black-rgb)/0.2), rgb(var(--white-rgb)/0.2));
}
.PageProD .galleryPnV .flip-book .page-cover .page-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-filter {
  width: 320px;
  margin: 15px auto;
  text-align: center;
}
.price-filter .slider-container {
  position: relative;
  height: 15px;
}
.price-filter .slider-container input[type=range] {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: transparent;
  pointer-events: none;
}
.price-filter .slider-container input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: light-dark(var(--thm), var(--thm1));
  border-radius: 50%;
  pointer-events: all;
  position: relative;
  z-index: 3;
  -webkit-transform: translateY(calc(-50% + 1px));
          transform: translateY(calc(-50% + 1px));
}
.price-filter .slider-container input[type=range]::-webkit-slider-runnable-track {
  height: 2px;
  background: transparent;
}
.price-filter .range-values {
  margin-top: 15px;
  font-weight: 400;
  color: light-dark(var(--black), var(--white));
}/*# sourceMappingURL=shop.css.map */