@use 'var';
@use 'other';
@use 'sws-tooltip';
@use 'pagination';
#social-links ul{padding:5px 15px!important}
.icons,#social-links ul{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;color:var(--white);gap:12px;margin:0;padding:0;
    li{display:flex;align-items:center;gap:8px;
        &:first-child{margin-left:0}
        a{display:inline-block;
            span,i{border-radius:50%;width:32px;height:32px;font-size:18px;color:var(--white)!important;display:grid;place-content:center;transition:all .5s;
                &:before{min-height:18px!important;min-width:18px!important;display:flex;align-items:center;justify-content:center}
                &:after{display:none}
                &.fa{color:var(--white);
                    &-facebook{
                        &,&-f,&-square{background:#3b5998}
                    }
                    &-twitter{
                        &,&-square{background:var(--black)}
                    }
                    &-telegram{
                        &,&-plane{background:#0088cc}
                    }
                    &-linkedin{
                        &,&-in{background:#0e76a8}
                    }
                    &-pinterest{
                        &,&-p,&-square{background:#E60023}
                    }
                    &-whatsapp{
                        &,&-square{background:#25D366}
                    }
                    &-reddit{
                        &,&-alien,&-square{background:#ff4500}
                    }
                    &-viber{
                        &{background:#7360f2}
                    }
                    &-tiktok{
                        &{background:var(--black)}
                    }
                    &-instagram{
                        &,&-square{background:linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)}
                    }
                }
            }
            &:hover{
                span,i{border-color:transparent;transform:rotate(360deg);box-shadow:0 3px 8px rgb(var(--black-rgb)/.2);
                    // &.fa-twitter:before{filter:invert(1)}
                }
            }
        }
    }
}
.select2-container--default{
    &,>*{z-index:9999}
    .select2-dropdown{background:var(--black)!important;border:none!important;box-shadow:0 0 6px rgb(var(--thm1-rgb)/.2);overflow:hidden;
        *{color:var(--white)!important}
        .select2-results__option{
            &[aria-selected=true]{background-color:rgb(var(--thm1-rgb)/.4)!important;color:var(--white)!important}
            &.select2-results__option--highlighted:not(&[aria-selected=true]){background-color:rgb(var(--thm1-rgb)/.1)!important}
        }
    }
}
.notbg{
    &,#social-links{
        ul{gap:5px;
            li a:not(:hover){
                span,i{background:transparent!important;color:light-dark(var(--black), var(--whtie))!important}
            }
        }
    }
}
.GetAQuotes{
    .BuyBtnBox{display:flex;padding:20px;max-width:910px;margin:0 auto;align-items:center;justify-content:space-between;border:1px solid rgb(var(--black-rgb)/.1);border-radius:6px;background:rgb(var(--black-rgb)/.05);transition:all .5s;
        // .btn{line-height:40px}
        >div:first-child{width:calc(100% - 350px)}
        p{text-align:left!important}
        >div:last-child{display:flex;flex-wrap:wrap;justify-content:center;gap:15px;
            @media (min-width:992px){justify-content:flex-end}
        }
        @media (max-width:991px){display:block;text-align:center;
            >div:first-child{width:100%}
            p{text-align:center!important}
            >div:last-child a{margin:9px 0 0!important}
        }
    }
}
.CallTo{padding:0;
    &:after{background:rgb(var(--thm-rgb)/.15);left:0;top:0;height:50%;width:100%}
    &Ac{border-radius:20px;padding:30px;background:var(--gr);z-index:1;position:relative;max-width:990px;margin:0 auto;color:var(--white);
        span.d-block{color:rgb(var(--white-rgb)/.6)}
        p{color:rgb(var(--white-rgb)/.8)!important;font-size:14px}
    }
}
.FootTop{
    form{max-width:700px;width:100%;margin:0 auto;position:relative;
        .form-control{font-size:1em;height:3.1rem;padding:0 15px;box-shadow:0 0 50px rgb(var(--thm-rgb)/.3);border-color:transparent;border-radius:15px;
            @media (min-width:575px){padding:0 155px 0 20px;height:3.5rem}
            @media (min-width:1400px){padding:0 165px 0 20px}
        }
        button{background:var(--thm2);color:var(--white);border-radius:12px;border:none;padding:9px 18px;font-size:1em;margin:9px auto 0;display:flex;
            @media (min-width:575px){height:calc(100% - 10px);position:absolute;right:5px;top:5px;padding:0 18px;margin:0;background:var(--thm);color:var(--white);display:block}
        }
    }
}
.CallBack{
    *:not(.text-danger){color:light-dark(var(--black), var(--white))!important}
    &:not(.modal){position:fixed;left:0;bottom:0;width:100%;z-index:9999;background:var(--black);transition:all .5s;
        // &.show{top:0}
        a[data-bs-toggle="collapse"]{position:absolute;right:20px;top:20px;opacity:0;height:48px;width:48px;display:flex;align-items:center;justify-content:center;gap:13px;flex-direction:column;transition:all .5s;border:1px solid var(--white);border-radius:50%;z-index:1;
            &:after,&:before{height:1px;width:20px;content:'';background:var(--white);display:inline-block;transition:all .5s}
            &:not(.collapsed){opacity:1;
                &:before,&:after{background:var(--white)}
                &:before{transform:rotate(45deg) translate(5px, 5px)}
                &:after{transform:rotate(-45deg) translate(5px, -5px)}
            }
        }
        >div{overflow:auto;height:100vh}
        div.container{padding:50px 0;min-height:100%;display:flex;align-items:center;max-width:100%!important;overflow:clip;
            @media (max-width:1400px){padding:40px 0}
            &:after{height:100%;width:500px;content:'';position:absolute;z-index:-1;right:0;top:0;background:var(--thm1);filter:blur(9em);border-radius:50%;opacity:.3;transform:rotate(-45deg) translate(0%, 10%)}
            .row{max-width:1260px;width:calc(100% - 30px);margin:0 auto;
                @media (max-width:1400px){max-width:1080px}
            }
            .h1{font-size:3.5em!important;font-weight:600}
            *:not(.btn, .text-danger){color:var(--white)!important}
            label{font-weight:300;margin:0;font-size:15px}
            textarea{
                &.form-control{min-height:5em!important}
            }
            .form-control{background-color:transparent;border:none;border-bottom:1px solid rgb(var(--white-rgb)/.1);border-radius:0;padding:0;resize:none;font-weight:300;
                // font-size:18px;
                &:focus{box-shadow:none!important;border-color:rgb(var(--white-rgb)/.2)!important}
                &::placeholder{
                    color:rgb(var(--white-rgb)/.3)!important;
                }
                // *{color:var(--black)!important}
                option{background:rgb(var(--black-rgb)/.9);padding:0 9px;text-indent: 5px}
                &.form-select{background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='.8' d='m2 5 6 6 6-6'/></svg>")}
            }
            .ConInfos{position:relative;z-index:0;
                ul{margin:0;padding:0;display:flex;gap:1.5em;flex-wrap:wrap;max-width:500px;width:100%;
                    @media (min-width:1400px){gap:2em}
                    @media (max-width:574px){gap:15px}
                    li{display:flex;gap:15px;flex-wrap:wrap;width:100%;
                        >span{
                            &.icon{height:48px;width:48px;border-radius:50%;display:flex;align-items:center;justify-content:center;border:1px solid rgb(var(--white-rgb)/.1);position:relative;transition:all .5s;
                                svg{height:22px;width:22px;fill:none;stroke:var(--white);z-index:1;transition:all .5s;stroke-width:1.3px}
                                &:after{height:100%;width:100%;position:absolute;content:'';left:0;top:0;border:1px solid rgb(var(--white-rgb)/.1);transform:scale(.88);border-radius:50%;transition:all .5s}
                                @media (max-width:767px){height:48px;width:48px;
                                    svg{height:20px;width:20px}
                                    &:after{transform:scale(.9)}
                                }
                            }
                            &:last-child{width:calc(100% - 75px);font-size:16px;line-height:150%;font-weight:400;
                                strong{font-weight:600;display:block;margin-bottom:9px}
                            }
                        }
                        &:hover{
                            >span{
                                &.icon{background:var(--gr1);border:transparent;
                                    svg{stroke:var(--thm)}
                                    &:after{background:var(--white);border:transparent}
                                }
                            }
                        }
                    }
                }
                .icons{padding:0;justify-content:start;gap:5px;margin:3em 0 0;flex-direction:row;
                    a{height:36px;width:36px;border-radius:50%;display:flex;align-items:center;justify-content:center;opacity:.5;transition:all .5s;background:transparent;border-radius:50%;
                        img{height:20px;width:20px}
                        &:hover{opacity:1;background:var(--white);
                            img{filter:brightness(0)}
                            // transform:rotate(360deg);
                        }
                    }
                }
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered{border:none}
        .select2-container--default .select2-selection--single{border:none!important;border-bottom:1px solid rgb(var(--white-rgb)/.1)!important}
        .select2-container .select2-selection--single .select2-selection__rendered{padding-left:0;font-size:1rem}
        .select2-container--default .select2-selection--single .select2-selection__arrow{display:flex;align-items:center;justify-content:flex-end;right:4px;
            b{border:none;border-bottom:1px solid;border-left:1px solid;height:7px;width:7px;transform:rotate(-45deg);position:static}
        }
    }
    &:not(.NoImgB){
        .modal{
            &-dialog{
                @media (min-width:768px){max-width:min-content;min-width:360px}
            }
            &-content{background:none;border:none}
            &-body{display:flex;border-radius:9px;
                @media (min-width:768px){
                    >*{width:400px!important;transition:transform .7s ease;background:var(--white)}
                    >*:first-child{transform:translate(50%);border-radius:9px 0 0 9px;overflow:hidden}
                    >*:last-child{transform:translate(-50%);position:relative;border-radius:0 9px 9px 0;
                        .ConInfo{
                            i,img,svg{height:42px;max-width:42px;padding:6px;background:rgb(var(--thm1-rgb)/.1);border:1px solid rgb(var(--thm1-rgb)/.1);border-radius:5px}
                        }
                    }
                }
                @media (max-width:767px){border-radius:9px;overflow:hidden;
                    >*:first-child{display:none}
                }
                >*:first-child{background:#fff0fa;
                    iframe{height:100%;width:100%;border:none}
                    img{height:100%;width:100%;object-fit:contain;object-position:bottom;padding:0}
                }
            }
        }
        &.show{
            .modal-body{
                >*{transform:translate(0)}
            }
        }
    }
    .btn-close{position:absolute;right:-12px;top:-12px;height:30px;width:30px;border-radius:50%;background-color:#eee;opacity:1;z-index:2;background-size:14px;filter:invert(1);
        @media (max-width:767px){right:2px;top:2px;background-color:transparent}
    }
}

.BackTop{position:fixed;bottom:20px;right:15px;display:none;color:var(--white);height:40px;width:40px;background:var(--thm);border-radius:50%;box-shadow:0 0 15px rgb(var(--white-rgb)/.3)!important;z-index:9;transition:all .9s;
    span{display:grid;place-content:center;text-align:center;height:100%;width:100%;margin:3px auto 0;
        &:after{width:16px;height:16px;border-left:2px solid var(--white);border-top:2px solid var(--white);transform:rotate(45deg);margin:0 auto;content:''}
    }
    &:hover{color:var(--white)}
}
@keyframes pulse{0%{will-change:transform;transform:scale(1)}
50%{will-change:transform;transform:scale(1.08)}
100%{will-change:transform;transform:scale(1)}}
.whatsappIcon{bottom:70px;right:12px;position:fixed!important;z-index:999!important;width:50px;height:50px;order:1;padding:5px;box-sizing:border-box;border-radius:50%;cursor:pointer;overflow:hidden;box-shadow:rgb(var(--black-rgb)/.4) 2px 2px 6px;transition:all .5s ease 0s;position:relative;z-index:200;display:flex;border:0px;background:rgb(77 194 71)!important;align-items:center;justify-content:center;
    svg{width:65%;height:65%;fill:none;stroke:var(--white);stroke-linejoin:round}
}
@media (max-width:767px){.whatsappblock{bottom:55px;left:12px}}